{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{# Load translation #}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
    {% translate "Enter" as enter %}
    {% translate "Log out" as log_out %}
    {% translate "Users" as users %}
    {% translate "Sign up" as sign_up %}
    {% translate "Task manager" as brand %}
    {% translate "Statuses" as statuses %}
    {% translate "Tasks" as tasks %}
    {% translate "Labels" as labels %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ brand }} v.0.0.1</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">{{ brand }}</a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/users">{{ users }}</a>
                </li>
            {% if user.is_authenticated %}
                <li class="nav-item mr-auto">
                    <a class="nav-link active" aria-current="page" href="/statuses">{{ statuses }}</a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link active" aria-current="page" href="/tasks">{{ tasks }}</a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link active" aria-current="page" href="/labels">{{ labels }}</a>
                </li>
            {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav", style="text-align: right;">
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">{{ log_out }}</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/users/create">{{ sign_up }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-linke" href="/login">{{ enter }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    {% if messages %}
        <div class="container wrapper flex-grow-1">
            {% bootstrap_messages %}
        </div>
    {% endif %}
<div class="container wrapper flex-grow-1">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
