<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Task Manager v.0.0.1</title>

    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
     <div class="container-fluid">
         <a class="navbar-brand" href="#">Task manager:</a>
     <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sing in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  </body>
</html>
