{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Load translation #}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
    {% translate "Sing in" as sing_in %}
    {% translate "Users" as users %}
    {% translate "Registration" as register %}
    {% translate "Task manager" as brand %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ brand }} v.0.0.1</title>
  </head>
    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
     <div class="container-fluid">
         <a class="navbar-brand" href="/">{{ brand }}</a>
     <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">{{ sing_in }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/create">{{ register }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users">{{ users }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div id="content" style="text-align: center">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
