{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% translate "Delete" as delete %}
{% translate "Are you sure you want to delete it" as question %}
{% translate "Not, I'm not sure" as no%}
{% translate "Yes, I'm sure" as yes%}

<h4 class='my-4'>{{ delete }}</h4>
    <form action="" method="post">{% csrf_token %}
        <p>{{ question }}?</p>
        <input class="btn btn-primary" type="submit" value="{{ yes }}"/>
    </form>
    <form action="/statuses">
        <input class="btn btn-primary" type="submit" value="{{ no }}"/>
    </form>
{% endblock content %}
