{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% translate "Labels list" as list %}
{% translate "Create label" as create %}
{% translate "ID" as id %}
{% translate "Name" as name %}
{% translate "Date create" as date_ %}
{% translate "Update" as update %}
{% translate "Delete" as delete %}

<h3 class="my-4">{{ list }}:</h3>
<h5><a href="/labels/create/">{{ create }}</a></h5>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
        <th>{{ id }}</th>
        <th>{{ name }}</th>
        <th>{{ date_ }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for label in labels_list %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            {% if user.is_authenticated %}
                <td>
                    <a href="/labels/{{ label.id }}/update/">{{ update }}</a>
                    <br>
                    <a href="/labels/{{ label.id }}/delete/">{{ delete }}</a>
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
