{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

{% translate "Tasks list" as list %}
{% translate "Create task" as create %}
{% translate "Only my task" as my_task %}
{% translate "ID" as id %}
{% translate "Name" as name %}
{% translate "Status" as status %}
{% translate "Author" as creator %}
{% translate "Executor" as executor %}
{% translate "Date create" as date_ %}
{% translate "Update" as update %}
{% translate "Delete" as delete %}
{% translate "Apply" as apply %}

<h3 class="my-4">{{ list }}:</h3>
<a class="nav-link" href="/tasks/create/">{{ create }}</a>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form  method="get">
            {% bootstrap_form filter.form layout='inline-block' %}
            <div class="form-group"><div class="mr-3"><div class="form-check"><input type="checkbox" name="self_tasks" class="form-check-input" id="id_self_tasks"><label class="form-check-label" for="id_self_tasks">{{ my_task }}</label></div></div></div>
            <input class="btn btn-primary" type="submit" value={{ apply }}>
        </form>
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ id }}</th>
      <th>{{ name }}</th>
      <th>{{ status }}</th>
      <th>{{ creator }}</th>
      <th>{{ executor }}</th>
      <th>{{ date_ }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for task in filter.qs %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="/tasks/{{ task.id }}/">{{ task }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at }}</td>
            {% if user.is_authenticated %}
                <td>
                    <a href="/tasks/{{ task.id }}/update/">{{ update }}</a>
                    <br>
                    {% if user.id == task.creator_id %}
                    <a href="/tasks/{{ task.id }}/delete/">{{ delete }}</a>
                    {% endif %}
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
