{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% translate "Users list" as list %}
{% translate "ID" as id %}
{% translate "Full name" as full_name %}
{% translate "Username" as username %}
{% translate "Date create" as date_ %}
{% translate "Update" as update %}
{% translate "Delete" as delete %}

<h3 class="my-4">{{ list }}:</h3>

<table class="table table-striped">
  <thead>
    <tr>
        <th>{{ id }}</th>
        <th>{{ username }}</th>
        <th>{{ full_name }}</th>
        <th>{{ date_ }}</th>
        <th></th>
    </tr>
  </thead>
  <tbody>

    {% for person in users_list %}
    {% if not person.is_staff %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.username }}</td>
            <td>{{ person }}</td>
            <td>{{ person.date_joined }}</td>
            {% if user.is_authenticated and user.username == person.username %}
                <td>
                    <a href="/users/{{ user.id }}/update/">{{ update }}</a>
                    <br>
                    <a href="/users/{{ user.id }}/delete/">{{ delete }}</a>
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endif %}
    {% endfor %}

  </tbody>
</table>

{% endblock %}
