{% extends "base.html" %}

{% block content %}

<h2 class="my-4">Users list:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Date create</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for person in users_list %}
    {% if not person.is_staff %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.username }}</td>
            <td>{{ person.date_joined }}</td>
            {% if user.is_authenticated and user.username == person.username %}
                <td>
                    <a href="/users/{{ user.id }}/update/">Update</a>
                    <br>
                    <a href="/users/{{ user.id }}/delete/">Delete</a>
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endif %}
    {% endfor %}

  </tbody>
</table>

{% endblock %}
